:root {
  --sm: 640px;
	--md: 768px;
	--lg: 1024px;
  --xl: 1280px;
  
  --violet: rgb(147,82,179);
  --blue-gray: rgb(62,69,85);
  --bg-gray: rgb(240,242,245);
  --royal-blue: rgb(26,118,241);
  --leaf-green: rgb(67,183,42);
}

hr {
  background-color: white;
}

.Header-navbar {
  font-size: 1.2rem;
}

.Header-hero-img {
  width: 100%;
}

.MovieListView-root {
  min-height: 200px;
  background-color: var(--bg-gray);
}

.Footer-root {
  color: white;
  background-color: var(--blue-gray);
}

.Footer-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5% 15%;
}

.Footer-flex-item {
  flex: 1 1;
  margin: 0 1.6rem 0 1.6rem;
}

.Footer-links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1% 15%;
}

.Footer-links-item a {
  margin: 0 1.6rem 0 1.6rem;
}