:root {
  --sm: 640px;
	--md: 768px;
	--lg: 1024px;
  --xl: 1280px;
  
  --violet: rgb(147,82,179);
  --light-violet: rgb(166,93,202);
  --blue-gray: rgb(62,69,85);
  --bg-gray: rgb(240,242,245);
  --royal-blue: rgb(26,118,241);
  --leaf-green: rgb(67,183,42);
}

h3 {
  margin: 20px 0;
}

hr {
  background-color: white;
}

.Header-navbar {
  font-size: 1.2rem;
}

.Header-navbar-logo {
  width: 50%;
}

.Header-hero-img {
  width: 100%;
}

.MovieListView-root {
  background-color: var(--bg-gray);
  padding: 100px 0;
}

.MovieListView-container {
  max-width: var(--xl);
  margin: 0 auto;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(413px, 1fr));
  row-gap: 25px;
}

.MovieListView-item {
  content: '';
}

.MovieCard-root {
  width: 400px;
  height: 600px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 4px 4px 24px rgba(0,0,0,0.1);
  transition: transform 0.2s;
  transition-timing-function: ease-out;
}

.MovieCard-root:hover {
  transform: translateY(-15px);
}

.Footer-root {
  color: white;
  background-color: var(--blue-gray);
}

.Footer-root a {
  color: white;
  transition: color 0.25s;
}

.Footer-root a:hover {
  text-decoration: none;
  color: var(--light-violet);
}

.Footer-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5% 15%;
}

.Footer-flex-item {
  flex: 1 1;
  margin: 0 10px;
}

.Footer-links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1% 15%;
}

.Footer-links-item a {
  margin: 0 10px;
}